.adopt{
    display: flex;
    flex-direction: column ;
    align-items: center ;
    gap: 10px;
    height: 90vh;

}
.adopt h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    
}
.adopt hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.adopt-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}
